.container{
    margin: 0 auto;
    width: 500px;
}

#form-add-todo{
    display: flex;
    gap: 0.5rem;
}

#form-add-todo input{
    flex: 1;
    border: 1px solid black;
    height: 2rem;
    padding: 0 0.5rem;
}

#form-add-todo button{
    background: #F4B200;
    border: none;
    width: 3rem;
}

#todo-list{
    list-style: none;
    word-wrap: break-word;
    border: 1px solid #EBEBEC;
    padding: 0;
}

#todo-list li{
    padding: 0.5rem 1rem;
}

#todo-list li:nth-child(odd){
    background-color: #F6F6F6;
}
